
@{
    ViewBag.Title = "LoggedIn";
}

@if (Session["nombre_usuario"] != null)
{
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css">

    <div class="background" style="background-image: url('../../Content/Images/one-punch-man.jpg');">
        <div class="container">
            <div class="mini_container">

                <form class="form">
                    <h2> Bienvenido @Session["nombre_usuario"].ToString() 
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </h2>

                    <div class="image">
                        <a href="../Heroe/Heroe" class="button">
                            Héroes
                            <img src="~/Content/Images/Saitama.png" width="60px" height="50px" alt="IMG">
                        </a>
                    </div>

                    <div class="image">
                        <a href="../Monstruo/Monstruo" class="button">
                            Monstruos
                            <img src="~/Content/Images/Monstruo.png" width="60px" height="50px" alt="IMG">
                        </a>
                    </div>

                    <div class="image">
                        <a href="../Patrocinador/Patrocinador" class="button">
                            Patrocinadores
                            <img src="~/Content/Images/Patrocinador2.png" width="60px" height="50px" alt="IMG">
                        </a>
                    </div>

                    <div class="image">
                        <a href="../Convenio/List" class="button">
                            Convenios
                            <img src="~/Content/Images/x.png" width="60px" height="50px" alt="IMG">
                        </a>
                    </div>

                    <div class="image">
                        <a href="../Lucha/List" class="button">
                            Luchas
                            <img src="~/Content/Images/Lucha.png" width="60px" height="50px" alt="IMG">
                        </a>
                    </div>
                </form>

                <form class="form">
                    <span class="form_title">
                        10 Héroes más fuertes
                    </span>

                    <div class="input">
                        <input class="input100" value="Saitama" type="text" name="uno">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <img src="~/Content/Images/one.png" width="20px" height="25px" alt="IMG">
                        </span>
                    </div>

                    <div class="input">
                        <input class="input100" type="text" name="dos">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <img src="~/Content/Images/two.png" width="20px" height="25px" alt="IMG">
                        </span>
                    </div>

                    <div class="input">
                        <input class="input100" type="text" name="tres">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <img src="~/Content/Images/three.png" width="20px" height="25px" alt="IMG">
                        </span>
                    </div>

                    <div class="input">
                        <input class="input100" type="text" name="cuatro">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <img src="~/Content/Images/four.png" width="20px" height="25px" alt="IMG">
                        </span>
                    </div>

                    <div class="input">
                        <input class="input100" type="text" name="cinco">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <img src="~/Content/Images/five.png" width="20px" height="25px" alt="IMG">
                        </span>
                    </div>

                    <div class="input">
                        <input class="input100" type="text" name="seis">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <img src="~/Content/Images/six.png" width="20px" height="25px" alt="IMG">
                        </span>
                    </div>

                    <div class="input">
                        <input class="input100" type="text" name="siete">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <img src="~/Content/Images/seven.png" width="20px" height="25px" alt="IMG">
                        </span>
                    </div>

                    <div class="input">
                        <input class="input100" type="text" name="ocho">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <img src="~/Content/Images/eight.png" width="20px" height="25px" alt="IMG">
                        </span>
                    </div>

                    <div class="input">
                        <input class="input100" type="text" name="nueve">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <img src="~/Content/Images/nine.png" width="20px" height="25px" alt="IMG">
                        </span>
                    </div>

                    <div class="input">
                        <input class="input100" type="text" name="diez">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <img src="~/Content/Images/ten.png" width="20px" height="25px" alt="IMG">
                        </span>
                    </div>
                </form>

            </div>
        </div>
    </div>
}


